################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DBOperationsWithEFCoreApp/.vs/DBOperationsWithEFCoreApp/FileContentIndex/1f8a1ae4-1cf7-4b6d-9a20-b7a4746980e5.vsidx
